In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('data/datasets/diabetic_data.csv')

1. Weight column is mostly "?"
2. Missing vals in max_glu_serum and A1Cresult columns - note: these 2 nulls can be a separate category - test not taken

In [24]:
# Dropping id columns and weight, as it's mostly "?"
df.drop(columns=['encounter_id', 'patient_nbr', 'weight'], index=1, inplace=True)

In [25]:
df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,1,?,Pediatrics-Endocrinology,41,...,No,No,No,No,No,No,No,No,No,NO
2,AfricanAmerican,Female,[20-30),1,1,7,2,?,?,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,7,2,?,?,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,7,1,?,?,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,Caucasian,Male,[50-60),2,1,2,3,?,?,31,...,No,Steady,No,No,No,No,No,No,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),1,3,7,3,MC,?,51,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,AfricanAmerican,Female,[80-90),1,4,5,5,MC,?,33,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,Caucasian,Male,[70-80),1,1,7,1,MC,?,53,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,Caucasian,Female,[80-90),2,3,7,10,MC,Surgery-General,45,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,Caucasian,Male,[70-80),1,1,7,6,?,?,13,...,No,No,No,No,No,No,No,No,No,NO

In [26]:
df['readmitted'].value_counts()

readmitted
NO     54864
>30    35544
<30    11357
Name: count, dtype: int64

In [27]:
df['readmitted'] = df['readmitted'].map({'NO': 0, '>30': 1, '<30': 1})

In [28]:
df['max_glu_serum'].value_counts()

max_glu_serum
Norm    2597
>200    1485
>300    1264
Name: count, dtype: int64

In [29]:
df['max_glu_serum'] = df['max_glu_serum'].replace("Norm", 0)
df['max_glu_serum'] = df['max_glu_serum'].replace(">200", 1)
df['max_glu_serum'] = df['max_glu_serum'].replace(">300", 2)
df['max_glu_serum'] = df['max_glu_serum'].fillna(-99)
df['max_glu_serum'].value_counts()

/var/folders/zb/r99_v3zs3yv2m9vf5z0rlbqc0000gn/T/ipykernel_21006/1750854465.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['max_glu_serum'] = df['max_glu_serum'].replace(">300", 2)

max_glu_serum
-99.0    96419
 0.0      2597
 1.0      1485
 2.0      1264
Name: count, dtype: int64

In [30]:
df['A1Cresult'].value_counts()

A1Cresult
>8      8216
Norm    4990
>7      3812
Name: count, dtype: int64

In [31]:
df['A1Cresult'] = df['A1Cresult'].replace("Norm", 0)
df['A1Cresult'] = df['A1Cresult'].replace(">7", 1)
df['A1Cresult'] = df['A1Cresult'].replace(">8", 2)
df['A1Cresult'] = df['A1Cresult'].fillna(-99)
df['A1Cresult'].value_counts()

/var/folders/zb/r99_v3zs3yv2m9vf5z0rlbqc0000gn/T/ipykernel_21006/73231012.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['A1Cresult'] = df['A1Cresult'].replace(">8", 2)

A1Cresult
-99.0    84747
 2.0      8216
 0.0      4990
 1.0      3812
Name: count, dtype: int64

In [32]:
df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,1,?,Pediatrics-Endocrinology,41,...,No,No,No,No,No,No,No,No,No,0
2,AfricanAmerican,Female,[20-30),1,1,7,2,?,?,11,...,No,No,No,No,No,No,No,No,Yes,0
3,Caucasian,Male,[30-40),1,1,7,2,?,?,44,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,Caucasian,Male,[40-50),1,1,7,1,?,?,51,...,No,Steady,No,No,No,No,No,Ch,Yes,0
5,Caucasian,Male,[50-60),2,1,2,3,?,?,31,...,No,Steady,No,No,No,No,No,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),1,3,7,3,MC,?,51,...,No,Down,No,No,No,No,No,Ch,Yes,1
101762,AfricanAmerican,Female,[80-90),1,4,5,5,MC,?,33,...,No,Steady,No,No,No,No,No,No,Yes,0
101763,Caucasian,Male,[70-80),1,1,7,1,MC,?,53,...,No,Down,No,No,No,No,No,Ch,Yes,0
101764,Caucasian,Female,[80-90),2,3,7,10,MC,Surgery-General,45,...,No,Up,No,No,No,No,No,Ch,Yes,0
101765,Caucasian,Male,[70-80),1,1,7,6,?,?,13,...,No,No,No,No,No,No,No,No,No,0

In [33]:
df['age'].unique()

array(['[0-10)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)',
       '[70-80)', '[80-90)', '[90-100)', '[10-20)'], dtype=object)

In [34]:
df['age'] = df['age'].map({
    '[0-10)': 0,
    '[10-20)' : 1,
    '[20-30)' : 2,
    '[30-40)' : 3,
    '[40-50)' : 4,
    '[50-60)' : 5,
    '[60-70)' : 6,
    '[70-80)' : 7,
    '[80-90)' : 8,
    '[90-100)' : 9,
})

df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,0,6,25,1,1,?,Pediatrics-Endocrinology,41,...,No,No,No,No,No,No,No,No,No,0
2,AfricanAmerican,Female,2,1,1,7,2,?,?,11,...,No,No,No,No,No,No,No,No,Yes,0
3,Caucasian,Male,3,1,1,7,2,?,?,44,...,No,Up,No,No,No,No,No,Ch,Yes,0
4,Caucasian,Male,4,1,1,7,1,?,?,51,...,No,Steady,No,No,No,No,No,Ch,Yes,0
5,Caucasian,Male,5,2,1,2,3,?,?,31,...,No,Steady,No,No,No,No,No,No,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,7,1,3,7,3,MC,?,51,...,No,Down,No,No,No,No,No,Ch,Yes,1
101762,AfricanAmerican,Female,8,1,4,5,5,MC,?,33,...,No,Steady,No,No,No,No,No,No,Yes,0
101763,Caucasian,Male,7,1,1,7,1,MC,?,53,...,No,Down,No,No,No,No,No,Ch,Yes,0
101764,Caucasian,Female,8,2,3,7,10,MC,Surgery-General,45,...,No,Up,No,No,No,No,No,Ch,Yes,0
101765,Caucasian,Male,7,1,1,7,6,?,?,13,...,No,No,No,No,No,No,No,No,No,0

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = le.fit_transform(df[col])
        
df

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,3,0,0,6,25,1,1,0,38,41,...,0,1,1,0,0,0,0,1,0,0
2,1,0,2,1,1,7,2,0,0,11,...,0,1,1,0,0,0,0,1,1,0
3,3,1,3,1,1,7,2,0,0,44,...,0,3,1,0,0,0,0,0,1,0
4,3,1,4,1,1,7,1,0,0,51,...,0,2,1,0,0,0,0,0,1,0
5,3,1,5,2,1,2,3,0,0,31,...,0,2,1,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,1,7,1,3,7,3,8,0,51,...,0,0,1,0,0,0,0,0,1,1
101762,1,0,8,1,4,5,5,8,0,33,...,0,2,1,0,0,0,0,1,1,0
101763,3,1,7,1,1,7,1,8,0,53,...,0,0,1,0,0,0,0,0,1,0
101764,3,0,8,2,3,7,10,8,63,45,...,0,3,1,0,0,0,0,0,1,0
101765,3,1,7,1,1,7,6,0,0,13,...,0,1,1,0,0,0,0,1,0,0

In [36]:
df['readmitted'].unique()

array([0, 1])

In [37]:
df.to_csv('data/datasets/diabetic_data_transformed.csv', index=False)